<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<style>
</style>
<title>P2P WebRTC PeerConnection</title>
<link rel="stylesheet" href="/static/css/base.css" />
<link rel="stylesheet" href="/static/css/p2p.css" />
</head>
<body>
  <div>
    <button id="connserver">连接信令服务器</button>
    <button id="leave">离开房间</button>
  </div>
  <div>
    <label>控制速率:</label>
    <select id="bandwidth" disabled>
      <option value="unlimited" selected>unlimited</option>
      <option value="2000">2000</option>
      <option value="1000">1000</option>
      <option value="500">500</option>
      <option value="250">250</option>
      <option value="125">125</option>
    </select>
    kbps
  </div>
  <div>
    <div id="preview">
      <h2>本地视频:</h2>
      <video id="localvideo" autoplay playsinline></video>
    </div>
    <div id="preview1">
      <h2>远程视频:</h2>
      <video id="remotevideo" autoplay playsinline></video>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/socket.io-client@2.0.3/dist/socket.io.min.js"></script>
<script src="/static/js/adapter-latest.js"></script>
<script src="/static/js/p2p.js"></script>
<script >
</script>
</html>